zmk/docs
zmk/build
zmk/tools
zmk/zephyr
zmk/AUTHORS
zmk/LICENSE
zmk/modules
zmk/README.md
zmk/CODEOWNERS
zmk/CONTRIBUTING.md
zmk/CODE_OF_CONDUCT.md
zmk/app/build
zmk/app/dts
zmk/app/src
zmk/app/cmake
zmk/app/tests
zmk/app/Kconfig
zmk/app/drivers
zmk/app/include
zmk/app/scripts
zmk/app/west.yml
zmk/app/run-test.sh
zmk/app/CMakeLists.txt
zmk/.devcontainer
zmk/.github
zmk/.vscode
zmk/.west
zmk/.clang-format
zmk/.gitattributes
zmk/.gitignore
zmk/.pre-commit-config.yaml
zmk/app/.gitignore
*.gbr
*.gbrjob
*.drl
*.kicad_pcb_bak
fp-info-cache
*.net
*.sch-bak

